*{
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	margin: 0;

	font-family: cursive;

}

img {
	max-width: 100%;
}

body {
    color: white;
    
    font-size: 1.5rem;
}

div {
    width: 25rem;
    height: 25rem;
    padding: 80px;
}