*{
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	margin: 0;

	font-family: cursive;

}

img {
	max-width: 100%;
}

.quotes {
    color: white;
    display: flex;
    font-size: 1.5rem;
}

div > div{
    width: 250px;
    height: 250px;
    padding: 20px;
}

.active {
    background-color: pink;
}